@import "bootstrap-sprockets";
@import "bootstrap";

#container {
  width: 750px;
}

#header {
  //background-color: #ddddee;
  height: 80px;
}

#body{
  height: 800px;
}
#main {
  float: right;
  width: 450px;

}

#linkList {
  float: left;
  width: 200px;
}

#left_side {
  float: left;
  width: 150px;
}

//#footer {
  //background-color: #eedddd;
//  height: 40px;
//}



/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
